body{
    margin: 0;
    font-family: 'Montserrat';
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

hr{
    margin: 3rem auto;
    border-style: none none dotted;
    width: 15%;
    border-width: 6px;
    color: #888;
}

.sidebar{
    left: 0;
    top: 0;
    width: 25%;
    position: fixed;
    height: 100%;
    overflow: auto;
    color: #fff;
    background: linear-gradient(#333,#000);
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: center;
    text-align: center;
    padding: 1.5rem 0rem;
}

.sidebar .heading{
    font-size: 2.2rem;
    font-weight: 700;
}

.sidebar .heading:hover{
    font-size: 2.2rem;
    font-weight: 700;
    color: #ddd;
    text-decoration: underline;
}

.sidebar img{
    width: 9.9rem;
    border-radius: 50%;
    border: 1px #fff solid;
    margin: 0 auto;
}

.sidebar .subheading{
    font-size: 1.1rem;
    color: #888;
}

.sidebar ul{
    padding: 0;
    margin: 2rem auto;
}

.sidebar ul li a{
    font-size: 1.4rem;
    line-height: 1.5;
    color: #fff;
}

.sidebar ul li:hover{
    opacity: 0.7;
}

.sidebar .social-links i {
    margin: 0 5px;
}

.sidebar .social-links i:hover {
    opacity: 0.8;
}

.sidebar p{
    font-size: 0.8rem;
    color: #888;
}

.content{
    margin-left: 25%;
    padding: 3rem 4.5rem;
}

.content h2{
    font-weight: 700;
}

.content .contact{
    color: #888;
}

.content .contact a{
    color: #666;
}

.content .bio{
    text-align: justify;
}

.content .bio p{
    line-height: 1.2;
}

.content .project{
    margin-top: 3rem;
}

.content .project .project-item{
    display: flex;
    margin-bottom: 1.5rem;
}


.content .project .project-item img{
    border: 1px solid #000;
    min-height: 150px;
    min-width: 150px;
    max-height: 150px;
    max-width: 150px;
}

.content .project .project-item .project-item-content{
    margin: 0 20px;
    width: 100%;
}

.content .project .project-item .project-item-content h4{
    margin-top: 0;
}

.content .project .project-item .project-item-content p{
    text-align: justify;
    line-height: 1.2;
    margin-top: 0;
}
.content .contact .contact-item{
	max-width: 400px;
	margin: 10px auto;
    padding: 16px;
    background-color: white;
    box-shadow: 1px 1px 10px #888;
}

.content .contact .contact-item p{
    margin: 0
}

.content .contact .contact-item .contact-style{
    width: 100%;
    height: 30px;
    margin: 5px 0 15px 0;
}

.btn{
    padding: .5rem 1rem;
    border: 1px solid #000;
    background: #fff;
    color: #000;
    cursor: pointer;
    width: 150px;
}

.btn:hover{
    padding: .5rem 1rem;
    border: 1px solid #000;
    background: #000;
    color: #fff;
    cursor: pointer;
}
/* contact button css */
.btn-lg{
    width: 100%;
}